<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- <link rel="stylesheet" href="static/styles.css"> -->

    <title>Risk Score Prediction</title>
</head>

<body>

    <div class="formbold-main-wrapper">
        <!-- Author: FormBold Team -->
        <!-- Learn More: https://formbold.com -->

        <div class="formbold-form-wrapper">
            <div class="formbold-event-wrapper">
                <span>RISK SCORE PREDICTION</span>

                <img src="https://www.yourteaminindia.com/hs-fs/hubfs/Imported_Blog_Media/Online-Exclusive-4-min-scaled-1-Sep-25-2023-10-20-41-4290-AM.jpg?width=816&height=460&name=Online-Exclusive-4-min-scaled-1-Sep-25-2023-10-20-41-4290-AM.jpg"
                    alt="Risk Score Prediction" style="width:100%;">

                <h4>What you’ll learn</h4>
                <p>
                    From a risk score, someone can learn the likelihood or probability of encountering potential risks,
                    such as financial loss, health complications, or security threats. It helps in identifying high-risk
                    areas, making informed decisions, and implementing strategies to minimize or manage those risks
                    effectively.
                </p>
                <div class="formbold-event-details">
                    <h5>Form Details</h5>
                </div>


                <form onsubmit="return validateForm()">
                    <h2 class="formbold-form-title">Personal Details</h2>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="firstname" class="formbold-form-label">
                                Name*
                            </label>
                            <input type="text" name="firstname" id="firstname" class="formbold-form-input" required />
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="age" class="formbold-form-label">Age*</label>
                            <select name="age" id="age" class="formbold-select" required>
                                <option value="" disabled selected>Select your age</option>
                                <option value="under_18">Under 18</option>
                                <option value="18_24">18-24</option>
                                <option value="25_34">25-34</option>
                                <option value="35_44">35-44</option>
                                <option value="45_54">45-54</option>
                                <option value="55_64">55-64</option>
                                <option value="65_over">65 and over</option>
                            </select>
                        </div>

                        <div>
                            <label for="ageSlider" class="formbold-form-label">Age Weight (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="ageSlider" class="slider" min="0" max="1" step="0.01" value="0"
                                    oninput="updateSliderValue(this)">
                                <div class="slider-value" id="ageSliderValue">0</div>
                            </div>
                        </div>

                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label class="formbold-form-label">Gender*</label>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input type="radio" name="gender" value="male" class="formbold-radio-input"
                                        required />
                                    Male
                                </label>
                                <label class="formbold-radio-label">
                                    <input type="radio" name="gender" value="female" class="formbold-radio-input"
                                        required />
                                    Female
                                </label>
                            </div>
                        </div>

                        <div>
                            <label for="genderSlider" class="formbold-form-label">Gender Weight (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="genderSlider" class="slider" min="0" max="1" step="0.01"
                                    value="0" oninput="updateSliderValue(this)">
                                <div class="slider-value" id="genderSliderValue">0</div>
                            </div>
                        </div>

                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label class="formbold-form-label">Race*</label>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input type="radio" name="race" value="Black" class="formbold-radio-input"
                                        required />
                                    Black
                                </label>
                                <label class="formbold-radio-label">
                                    <input type="radio" name="race" value="White" class="formbold-radio-input"
                                        required />
                                    White
                                </label>
                            </div>
                        </div>
                        <div>
                            <label for="raceSlider" class="formbold-form-label">Race Weight (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="raceSlider" class="slider" min="0" max="1" step="0.01" value="0"
                                    oninput="updateSliderValue(this)">
                                <div class="slider-value" id="raceSliderValue">0</div>
                            </div>
                        </div>
                    </div>

                    <h2 class="formbold-form-title">Medical Details</h2>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="lasix_dose_count_tm1" class="formbold-form-label">
                                lasix_dose_count_tm1*
                            </label>
                            <input type="number" name="lasix_dose_count_tm1" id="lasix_dose_count_tm1"
                                class="formbold-form-input" min="0" required />
                        </div>
                        <div>
                            <label for="lasix_dose_count_tm1_Slider" class="formbold-form-label">lasix_dose_count_tm1
                                Weight
                                (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="lasix_dose_count_tm1_Slider" class="slider" min="0" max="1"
                                    step="0.01" value="0" oninput="updateSliderValue(this)">
                                <div class="slider-value" id="lasix_dose_count_tm1_SliderValue">0</div>
                            </div>
                        </div>
                        <div>
                            <label for="cre_tests_tm1" class="formbold-form-label">
                                cre_tests_tm1*
                            </label>
                            <input type="number" name="cre_tests_tm1" id="cre_tests_tm1" class="formbold-form-input"
                                min="0" required />
                        </div>
                        <div>
                            <label for="cre_tests_tm1" class="formbold-form-label">cre_tests_tm1 Weight
                                (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="cre_tests_tm1_Slider" class="slider" min="0" max="1" step="0.01"
                                    value="0" oninput="updateSliderValue(this)">
                                <div class="slider-value" id="cre_tests_tm1_SliderValue">0</div>
                            </div>
                        </div>
                    </div>


                    <div class="formbold-input-flex">
                        <div>
                            <label for="crp_tests_tm1" class="formbold-form-label">
                                crp_tests_tm1*
                            </label>
                            <input type="number" name="crp_tests_tm1" id="crp_tests_tm1" class="formbold-form-input"
                                min="0" required />
                        </div>
                        <div>
                            <label for="crp_tests_tm1_Slider" class="formbold-form-label">crp_tests_tm1
                                Weight
                                (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="crp_tests_tm1_Slider" class="slider" min="0" max="1" step="0.01"
                                    value="0" oninput="updateSliderValue(this)">
                                <div class="slider-value" id="crp_tests_tm1_SliderValue">0</div>
                            </div>
                        </div>
                        <div>
                            <label for="esr_tests_tm1" class="formbold-form-label">
                                esr_tests_tm1*
                            </label>
                            <input type="number" name="esr_tests_tm1" id="esr_tests_tm1" class="formbold-form-input"
                                min="0" required />
                        </div>
                        <div>
                            <label for="esr_tests_tm1_Slider" class="formbold-form-label">esr_tests_tm1 Weight
                                (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="esr_tests_tm1_Slider" class="slider" min="0" max="1" step="0.01"
                                    value="0" oninput="updateSliderValue(this)">
                                <div class="slider-value" id="esr_tests_tm1_SliderValue">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="formbold-input-flex">
                        <div>
                            <label for="ghba1c_tests_tm1" class="formbold-form-label">
                                ghba1c_tests_tm1*
                            </label>
                            <input type="number" name="ghba1c_tests_tm1" id="ghba1c_tests_tm1"
                                class="formbold-form-input" min="0" required />
                        </div>
                        <div>
                            <label for="ghba1c_tests_tm1_Slider" class="formbold-form-label">ghba1c_tests_tm1 Weight
                                (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="ghba1c_tests_tm1_Slider" class="slider" min="0" max="1"
                                    step="0.01" value="0" oninput="updateSliderValue(this)">
                                <div class="slider-value" id="ghba1c_tests_tm1_SliderValue">0</div>
                            </div>
                        </div>
                        <div>
                            <label for="hct_tests_tm1" class="formbold-form-label">
                                hct_tests_tm1*
                            </label>
                            <input type="number" name="hct_tests_tm1" id="hct_tests_tm1" class="formbold-form-input"
                                min="0" required />
                        </div>
                        <div>
                            <label for="hct_tests_tm1_Slider" class="formbold-form-label">hct_tests_tm1 Weight
                                (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="hct_tests_tm1_Slider" class="slider" min="0" max="1" step="0.01"
                                    value="0" oninput="updateSliderValue(this)">
                                <div class="slider-value" id="hct_tests_tm1_SliderValue">0</div>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="ldl_tests_tm1" class="formbold-form-label">
                                ldl_tests_tm1*
                            </label>
                            <input type="number" name="ldl_tests_tm1" id="ldl_tests_tm1" class="formbold-form-input"
                                min="0" required />
                        </div>
                        <div>
                            <label for="ldl_tests_tm1_Slider" class="formbold-form-label">ldl_tests_tm1 Weight
                                (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="ldl_tests_tm1_Slider" class="slider" min="0" max="1" step="0.01"
                                    value="0" oninput="updateSliderValue(this)">
                                <div class="slider-value" id="ldl_tests_tm1_SliderValue">0</div>
                            </div>
                        </div>
                        <div>
                            <label for="nt_bnp_tests_tm1" class="formbold-form-label">
                                nt_bnp_tests_tm1*
                            </label>
                            <input type="number" name="nt_bnp_tests_tm1" id="nt_bnp_tests_tm1"
                                class="formbold-form-input" min="0" required />
                        </div>
                        <div>
                            <label for="nt_bnp_tests_tm1_Slider" class="formbold-form-label">nt_bnp_tests_tm1 Weight
                                (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="nt_bnp_tests_tm1_Slider" class="slider" min="0" max="1"
                                    step="0.01" value="0" oninput="updateSliderValue(this)">
                                <div class="slider-value" id="nt_bnp_tests_tm1_SliderValue">0</div>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="sodium_tests_tm1" class="formbold-form-label">
                                sodium_tests_tm1*
                            </label>
                            <input type="number" name="sodium_tests_tm1" id="sodium_tests_tm1"
                                class="formbold-form-input" min="0" required />
                        </div>
                        <div>
                            <label for="sodium_tests_tm1_Slider" class="formbold-form-label">sodium_tests_tm1 Weight
                                (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="sodium_tests_tm1_Slider" class="slider" min="0" max="1"
                                    step="0.01" value="0" oninput="updateSliderValue(this)">
                                <div class="slider-value" id="sodium_tests_tm1_SliderValue">0</div>
                            </div>
                        </div>
                        <div>
                            <label for="trig_tests_tm1" class="formbold-form-label">
                                trig_tests_tm1*
                            </label>
                            <input type="number" name="trig_tests_tm1" id="trig_tests_tm1" class="formbold-form-input"
                                min="0" required />
                        </div>
                        <div>
                            <label for="trig_tests_tm1_Slider" class="formbold-form-label">trig_tests_tm1 Weight
                                (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="trig_tests_tm1_Slider" class="slider" min="0" max="1"
                                    step="0.01" value="0" oninput="updateSliderValue(this)">
                                <div class="slider-value" id="trig_tests_tm1_SliderValue">0</div>
                            </div>
                        </div>
                    </div>

                    <h2 class="formbold-form-title">Biomarkers</h2>
                    <p style="padding-bottom: 10px;">
                        Biomarker can be measured to assess
                        health, disease progression, or response to treatment. It provides valuable information for
                        diagnosis and monitoring. Please enter the average number range from (1-100).
                    </p>
                    <div class="formbold-input-flex">
                        <div>
                            <input type="number" name="biomarker" id="biomarker" class="formbold-form-input" min="0"
                                required />
                        </div>
                        <div>
                            <label for="biomarkerSlider" class="formbold-form-label">Biomarker Weight (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="biomarkerSlider" class="slider" min="0" max="1" step="0.01"
                                    value="0" oninput="updateSliderValue(this)">
                                <div class="slider-value" id="biomarkerSliderValue">0</div>
                            </div>
                        </div>
                    </div>

                    <h2 class="formbold-form-title">Comorbidity</h2>
                    <p style="padding-bottom: 10px;">

                        Comorbidity refers to the presence of one or more additional health conditions occurring
                        alongside a primary condition. It can complicate treatment and impact overall health
                        outcomes.Please enter the average number range from (1-100).
                    </p>
                    <div class="formbold-input-flex">
                        <div>
                            <input type="number" name="comorbidity" id="comorbidity" class="formbold-form-input" min="0"
                                required />
                        </div>
                        <div>
                            <label for="comorbiditySlider" class="formbold-form-label">Comorbidity Weight (0-1)*</label>
                            <div class="slider-container">
                                <input type="range" id="comorbiditySlider" class="slider" min="0" max="1" step="0.01"
                                    value="0" oninput="updateSliderValue(this)">
                                <div class="slider-value" id="comorbiditySliderValue">0</div>
                            </div>
                        </div>
                    </div>

                    <h2 class="formbold-form-title">Output Variable</h2>
                    <p style="padding-bottom: 10px;">
                        Select the desired output veriables.
                    </p>

                    <div class="formbold-input-flex">
                        <select name="output" id="output" class="formbold-select" required>
                            <option value="" disabled selected>Select Output Veriable</option>
                            <option value="risk_score_t">Risk Score</option>
                            <option value="cost_t">Cost</option>
                            <option value="cost_avoidable_t">Cost Avoidable</option>
                        </select>
                    </div>
                    <p class="formbold-policy">
                        The information shared includes your medical history, current health conditions, medications,
                        allergies, and any relevant diagnostic results. This data helps healthcare providers better
                        understand your health needs, personalize your treatment plan, and ensure safer, more effective
                        care. Your privacy and confidentiality are prioritized throughout this process.
                    </p>
                    <button class="formbold-btn" type="submit">Submit Data For Prediction</button>
                </form>


            </div>

        </div>

        <script src="{{ url_for('static', filename='script.js') }}">
        </script>

</body>

</html>