<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Risk Score Prediction</title>
</head>

<body>
    <div class="formbold-main-wrapper">
        <!-- Author: FormBold Team -->
        <!-- Learn More: https://formbold.com -->
        <div class="formbold-form-wrapper">
            <div class="formbold-event-wrapper">
                <span>RISK SCORE PREDICTION</span>
                <svg width="490" height="215" viewBox="0 0 490 215" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="490" height="215" rx="5" fill="url(#pattern0)" />
                    <defs>
                        <pattern id="pattern0" patternUnits="userSpaceOnUse" width="490" height="215">
                            <image xlink:href="{{ url_for('static', filename='assets/health_care_background.png') }}"
                                width="490" height="215" />
                        </pattern>
                    </defs>
                </svg>

                <h4>What you’ll learn</h4>
                <p>
                    From a risk score, someone can learn the likelihood or probability of encountering potential risks,
                    such as financial loss, health complications, or security threats. It helps in identifying high-risk
                    areas, making informed decisions, and implementing strategies to minimize or manage those risks
                    effectively.
                </p>
                <div class="formbold-event-details">
                    <h5>Form Details</h5>
                </div>

                <form onsubmit="return validateForm()">
                    <h2 class="formbold-form-title">Personal Details</h2>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="firstname" class="formbold-form-label">
                                Name*
                            </label>
                            <input type="text" name="firstname" id="firstname" class="formbold-form-input" required />
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="age" class="formbold-form-label">Age*</label>
                            <select name="age" id="age" class="formbold-select" required>
                                <option value="" disabled selected>Select your age</option>
                                <option value="under_18">Under 18</option>
                                <option value="18_24">18-24</option>
                                <option value="25_34">25-34</option>
                                <option value="35_44">35-44</option>
                                <option value="45_54">45-54</option>
                                <option value="55_64">55-64</option>
                                <option value="65_over">65 and over</option>
                            </select>
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label class="formbold-form-label">Gender*</label>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input type="radio" name="gender" value="male" class="formbold-radio-input"
                                        required />
                                    Male
                                </label>
                                <label class="formbold-radio-label">
                                    <input type="radio" name="gender" value="female" class="formbold-radio-input"
                                        required />
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label class="formbold-form-label">Race*</label>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input type="radio" name="race" value="Black" class="formbold-radio-input"
                                        required />
                                    Black
                                </label>
                                <label class="formbold-radio-label">
                                    <input type="radio" name="race" value="White" class="formbold-radio-input"
                                        required />
                                    White
                                </label>
                            </div>
                        </div>
                    </div>

                    <h2 class="formbold-form-title">Medical Details</h2>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="lasix_dose_count_tm1" class="formbold-form-label">
                                lasix_dose_count_tm1*
                            </label>
                            <input type="number" name="lasix_dose_count_tm1" id="lasix_dose_count_tm1"
                                class="formbold-form-input" min="0" required />
                        </div>
                        <div>
                            <label for="cre_tests_tm1" class="formbold-form-label">
                                cre_tests_tm1*
                            </label>
                            <input type="number" name="cre_tests_tm1" id="cre_tests_tm1" class="formbold-form-input"
                                min="0" required />
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="crp_tests_tm1" class="formbold-form-label">
                                crp_tests_tm1*
                            </label>
                            <input type="number" name="crp_tests_tm1" id="crp_tests_tm1" class="formbold-form-input"
                                min="0" required />
                        </div>
                        <div>
                            <label for="esr_tests_tm1" class="formbold-form-label">
                                esr_tests_tm1*
                            </label>
                            <input type="number" name="esr_tests_tm1" id="esr_tests_tm1" class="formbold-form-input"
                                min="0" required />
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="ghba1c_tests_tm1" class="formbold-form-label">
                                ghba1c_tests_tm1*
                            </label>
                            <input type="number" name="ghba1c_tests_tm1" id="ghba1c_tests_tm1"
                                class="formbold-form-input" min="0" required />
                        </div>
                        <div>
                            <label for="hct_tests_tm1" class="formbold-form-label">
                                hct_tests_tm1*
                            </label>
                            <input type="number" name="hct_tests_tm1" id="hct_tests_tm1" class="formbold-form-input"
                                min="0" required />
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="ldl_tests_tm1" class="formbold-form-label">
                                ldl_tests_tm1*
                            </label>
                            <input type="number" name="ldl_tests_tm1" id="ldl_tests_tm1" class="formbold-form-input"
                                min="0" required />
                        </div>
                        <div>
                            <label for="nt_bnp_tests_tm1" class="formbold-form-label">
                                nt_bnp_tests_tm1*
                            </label>
                            <input type="number" name="nt_bnp_tests_tm1" id="nt_bnp_tests_tm1"
                                class="formbold-form-input" min="0" required />
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="sodium_tests_tm1" class="formbold-form-label">
                                sodium_tests_tm1*
                            </label>
                            <input type="number" name="sodium_tests_tm1" id="sodium_tests_tm1"
                                class="formbold-form-input" min="0" required />
                        </div>
                        <div>
                            <label for="trig_tests_tm1" class="formbold-form-label">
                                trig_tests_tm1*
                            </label>
                            <input type="number" name="trig_tests_tm1" id="trig_tests_tm1" class="formbold-form-input"
                                min="0" required />
                        </div>
                    </div>

                    <h2 class="formbold-form-title">Biomarkers</h2>
                    <p style="padding-bottom: 10px;">
                        Biomarker can be measured to assess
                        health, disease progression, or response to treatment. It provides valuable information for
                        diagnosis and monitoring. Please enter the average number range from (1-100).
                    </p>
                    <div class="formbold-input-flex">
                        <div>
                            <input type="number" name="biomarker" id="biomarker" class="formbold-form-input" min="0"
                                required />
                        </div>
                    </div>

                    <h2 class="formbold-form-title">Comorbidity</h2>
                    <p style="padding-bottom: 10px;">

                        Comorbidity refers to the presence of one or more additional health conditions occurring
                        alongside a primary condition. It can complicate treatment and impact overall health
                        outcomes.Please enter the average number range from (1-100).
                    </p>
                    <div class="formbold-input-flex">
                        <div>
                            <input type="number" name="comorbidity" id="comorbidity" class="formbold-form-input" min="0"
                                required />
                        </div>
                    </div>
                    <h2 class="formbold-form-title">Medical Cost</h2>
                    <p style="padding-bottom: 10px;">
                        Medical cost refers to the expenses associated with healthcare services, including diagnosis,
                        treatment, medication, and ongoing care. It encompasses both direct costs, like hospital bills,
                        and indirect costs, such as lost wages due to illness
                    </p>
                    <div class="formbold-input-flex">
                        <div>
                            <input type="number" name="cost" id="cost" class="formbold-form-input" min="0" required />
                        </div>
                    </div>
                    <p class="formbold-policy">
                        The information shared includes your medical history, current health conditions, medications,
                        allergies, and any relevant diagnostic results. This data helps healthcare providers better
                        understand your health needs, personalize your treatment plan, and ensure safer, more effective
                        care. Your privacy and confidentiality are prioritized throughout this process.
                    </p>
                    <button class="formbold-btn" type="submit">Submit Data For Prediction</button>
                </form>
            </div>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>