<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Risk Score Prediction</title>
</head>

<body>
    <div class="formbold-main-wrapper">
        <!-- Author: FormBold Team -->
        <!-- Learn More: https://formbold.com -->
        <div class="formbold-form-wrapper">
            <div class="formbold-event-wrapper">
                <span>RISK SCORE PREDICTION</span>
                <h3>The design leadership conference</h3>
                <svg width="490" height="215" viewBox="0 0 490 215" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="490" height="215" rx="5" fill="url(#pattern0)" />
                    <defs>
                        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_1675_1746"
                                transform="translate(0 -0.524787) scale(0.000379363 0.000864594)" />
                        </pattern>

                    </defs>
                </svg>
                <h4>What you’ll learn</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt.
                </p>
                <div class="formbold-event-details">
                    <h5>Form Details</h5>
                </div>

                <form action="predict.php" method="post">
                    <h2 class="formbold-form-title">Personal Details</h2>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="firstname" class="formbold-form-label">
                                Name*
                            </label>
                            <input type="text" name="firstname" id="firstname" class="formbold-form-input" />
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="age" class="formbold-form-label">Age*</label>
                            <select name="age" id="age" class="formbold-select">
                                <option value="" disabled selected>Select your age</option>
                                <option value="under_18">Under 18</option>
                                <option value="18_24">18-24</option>
                                <option value="25_34">25-34</option>
                                <option value="35_44">35-44</option>
                                <option value="45_54">45-54</option>
                                <option value="55_64">55-64</option>
                                <option value="65_over">65 and over</option>
                            </select>
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label class="formbold-form-label">Gender*</label>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input type="radio" name="gender" value="male" class="formbold-radio-input" />
                                    Male
                                </label>
                                <label class="formbold-radio-label">
                                    <input type="radio" name="gender" value="female" class="formbold-radio-input" />
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label class="formbold-form-label">Race*</label>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input type="radio" name="race" value="Black" class="formbold-radio-input" />
                                    Black
                                </label>
                                <label class="formbold-radio-label">
                                    <input type="radio" name="race" value="White" class="formbold-radio-input" />
                                    White
                                </label>
                            </div>
                        </div>
                    </div>

                    <h2 class="formbold-form-title">Medical Details</h2>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="lasix_dose_count_tm1" class="formbold-form-label">
                                lasix_dose_count_tm1*
                            </label>
                            <input type="number" name="lasix_dose_count_tm1" id="lasix_dose_count_tm1"
                                class="formbold-form-input" />
                        </div>
                        <div>
                            <label for="cre_tests_tm1" class="formbold-form-label">
                                cre_tests_tm1*
                            </label>
                            <input type="number" name="cre_tests_tm1" id="cre_tests_tm1" class="formbold-form-input" />
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="crp_tests_tm1" class="formbold-form-label">
                                crp_tests_tm1*
                            </label>
                            <input type="number" name="crp_tests_tm1" id="crp_tests_tm1" class="formbold-form-input" />
                        </div>
                        <div>
                            <label for="esr_tests_tm1" class="formbold-form-label">
                                esr_tests_tm1*
                            </label>
                            <input type="number" name="esr_tests_tm1" id="esr_tests_tm1" class="formbold-form-input" />
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="ghba1c_tests_tm1" class="formbold-form-label">
                                ghba1c_tests_tm1*
                            </label>
                            <input type="number" name="ghba1c_tests_tm1" id="ghba1c_tests_tm1"
                                class="formbold-form-input" />
                        </div>
                        <div>
                            <label for="hct_tests_tm1" class="formbold-form-label">
                                hct_tests_tm1*
                            </label>
                            <input type="number" name="hct_tests_tm1" id="hct_tests_tm1" class="formbold-form-input" />
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="ldl_tests_tm1" class="formbold-form-label">
                                ldl_tests_tm1*
                            </label>
                            <input type="number" name="ldl_tests_tm1" id="ldl_tests_tm1" class="formbold-form-input" />
                        </div>
                        <div>
                            <label for="nt_bnp_tests_tm1" class="formbold-form-label">
                                nt_bnp_tests_tm1*
                            </label>
                            <input type="number" name="nt_bnp_tests_tm1" id="nt_bnp_tests_tm1"
                                class="formbold-form-input" />
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="sodium_tests_tm1" class="formbold-form-label">
                                sodium_tests_tm1*
                            </label>
                            <input type="number" name="sodium_tests_tm1" id="sodium_tests_tm1"
                                class="formbold-form-input" />
                        </div>
                        <div>
                            <label for="trig_tests_tm1" class="formbold-form-label">
                                trig_tests_tm1*
                            </label>
                            <input type="number" name="trig_tests_tm1" id="trig_tests_tm1"
                                class="formbold-form-input" />
                        </div>
                    </div>

                    <h2 class="formbold-form-title">Biomarkers</h2>
                    <p style="padding-bottom: 10px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt.
                    </p>
                    <div class="formbold-input-flex">

                        <div>
                            <input type="number" name="ldl_tests_tm1" id="ldl_tests_tm1" class="formbold-form-input" />
                        </div>
                    </div>

                    <h2 class="formbold-form-title">Comorbidity</h2>
                    <p style="padding-bottom: 10px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt.
                    </p>
                    <div class="formbold-input-flex">

                        <div>
                            <input type="number" name="ldl_tests_tm1" id="ldl_tests_tm1" class="formbold-form-input" />
                        </div>
                    </div>
                    <p class="formbold-policy">
                        By filling out this form and clicking submit, you acknowledge our
                        <a href="#">privacy policy.</a>
                    </p>
            </div>
            <button class="formbold-btn">Submit Data For Prediction</button>

            </form>
        </div>
    </div>

</body>

</html>